#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# scons flags
SCONS_FLAGS= \
CXX=/opt/szn/bin/g++-4.9 \
CC=/opt/szn/bin/gcc-4.9 \
BOOST_STATIC=True \
BOOST_LIBS="/usr/lib/x86_64-linux-gnu/" \
CAIRO=True \
COLOR_PRINT=False \
DEMO=True \
SVG_RENDERER=True \
PGSQL2SQLITE=True \
SYSTEM_FONTS=/usr/share/fonts/truetype \
DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr

CFLAGS = -g

ifneq (,$(findstring stats,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -DMAPNIK_STATS
endif

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
else:
override_dh_auto_test:
	# the test suite does not 100% pass on all platforms/boost versions,
	# but the output is useful :)
	#make test-local || true; echo "Overall Test Exit Code: $?"
endif

override_dh_auto_configure:
	./configure $(SCONS_FLAGS) CUSTOM_CXXFLAGS="$(CFLAGS)"
	dh_auto_configure

override_dh_prep:
	dh_prep -Xdebian/tmp

override_dh_install:
	JOBS=2 make install
	dh_install

override_dh_auto_clean:
	-make distclean
	rm -rf config.py.backup

#	dh_auto_clean

override_dh_installexamples:
	dh_installexamples -Xdata/new
	find $(CURDIR)/debian/ -name "*.png" | xargs -r chmod -x

%:
#	dh_installexamples -Xdata/new
#	dh_install --sourcedir=debian/tmp
	dh $@
