#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

# For tests
export GDAL_DATA=/usr/share/gdal/2.1
export PROJ_LIB=/usr/share/proj
export ICU_DATA=/usr/share/icu/52.1

SCONS_FLAGS= \
CXX=g++ \
CC=gcc \
BOOST_STATIC=True \
BOOST_LIBS="/usr/lib/x86_64-linux-gnu/" \
CAIRO=True \
COLOR_PRINT=False \
DEMO=True \
SVG_RENDERER = True \
PGSQL2SQLITE = True \
SYSTEM_FONTS=/usr/share/fonts/truetype \
DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr

CFLAGS = -g

ifneq (,$(findstring stats_basic,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -DMAPNIK_STATS
endif

ifneq (,$(findstring stats_render,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -DMAPNIK_STATS_RENDER
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -Og
endif

override_dh_auto_test:
ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	# The test suite passes only with specific library versions
	# but the output can be useful.
	make test || true
else
	echo "Tests disabled"
endif

override_dh_auto_configure:
	./configure $(SCONS_FLAGS) CUSTOM_CXXFLAGS="$(CFLAGS)"
	dh_auto_configure

override_dh_prep:
	dh_prep -Xdebian/tmp

override_dh_install:
	JOBS=2 make install
	dh_install

override_dh_auto_clean:
	-make distclean
	rm -rf config.py.backup

%:
	dh $@
